In [145]:
#imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import calendar

In [30]:
#opening file
df=pd.read_csv("E://Programs/MACHINE LEARNING WITH PYTHON-GLOBSYN/Interview.csv")

In [31]:
df.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [32]:
print(df.columns[-5:])
df[df.columns[-5:]].describe()
df.drop(df.columns[-5:],axis=1,inplace=True)

Index(['Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27'],
      dtype='object')

f=open("/home/soham/Desktop/columns","w")
for col in df.columns:
    f.write("\""+col+"\""+" : \"\", \n")
f.close()

f=open("/home/soham/Desktop/markdown","w")
for k in dic.keys():
    f.write("|"+k+"|"+dic[k]+"|\n")
f.close()

In [33]:
col_dic={"Date of Interview" : "doi",
"Client name" : "cl_nam",
"Industry" : "indus",
"Location" : "cl_loc",
"Position to be closed" : "pos",
"Nature of Skillset" : "skill",
"Interview Type" : "intrvw_typ",
"Name(Cand ID)" : "cand_nam",
"Gender" : "gend",
"Candidate Current Location" : "cand_cur_loc",
"Candidate Job Location" : "cand_j_loc",
"Interview Venue" : "intrvw_ven",
"Candidate Native location" : "cand_nat_loc",
"Have you obtained the necessary permission to start at the required time" : "enq_perm",
"Hope there will be no unscheduled meetings" : "enq_unsch_meet",
"Can I Call you three hours before the interview and follow up on your attendance for the interview" : "enq_call",
"Can I have an alternative number/ desk number. I assure you that I will not trouble you too much" : "enq_num",
"Have you taken a printout of your updated resume. Have you read the JD and understood the same" : "enq_resume",
"Are you clear with the venue details and the landmark." : "enq_ven",
"Has the call letter been shared" : "enq_call_letter",
"Expected Attendance" : "expc_at",
"Observed Attendance" : "obs_at",
"Marital Status" : "married"}

In [34]:
df.rename(columns=col_dic,inplace=True)

|Column|Renamed|
|---|---|
|Date of Interview|doi|
|Client name|cl_nam|
|Industry|indus|
|Location|cl_loc|
|Position to be closed|pos|
|Nature of Skillset|skill|
|Interview Type|intrvw_typ|
|Name(Cand ID)|cand_nam|
|Gender|gend|
|Candidate Current Location|cand_cur_loc|
|Candidate Job Location|cand_j_loc|
|Interview Venue|intrvw_ven|
|Candidate Native location|cand_nat_loc|
|Have you obtained the necessary permission to start at the required time|enq_perm|
|Hope there will be no unscheduled meetings|enq_unsch_meet|
|Can I Call you three hours before the interview and follow up on your attendance for the interview|enq_call|
|Can I have an alternative number/ desk number. I assure you that I will not trouble you too much|enq_num|
|Have you taken a printout of your updated resume. Have you read the JD and understood the same|enq_resume|
|Are you clear with the venue details and the landmark.|enq_ven|
|Has the call letter been shared|enq_call_letter|
|Expected Attendance|expc_at|
|Observed Attendance|obs_at|
|Marital Status|married|

---  
---  
### This section is for testing

In [38]:
df1=df.copy()

In [39]:
df_temp=df1.copy()
df1=df_temp.copy()

In [40]:
for col in df.columns[1:]:
    print(df_temp[col].value_counts())
    print("================================================")

Standard Chartered Bank            904
Hospira                             75
Pfizer                              75
Aon Hewitt                          28
Flextronics                         23
ANZ                                 22
Hewitt                              20
UST                                 18
Standard Chartered Bank Chennai     17
Prodapt                             17
Astrazeneca                         15
Williams Lea                        11
Barclays                             5
Aon hewitt Gurgaon                   2
ï»¿ï»¿                                   1
Woori Bank                           1
Name: cl_nam, dtype: int64
================================================
BFSI                        949
Pharmaceuticals             165
IT Products and Services     45
Electronics                  23
IT Services                  23
Telecom                      17
IT                           11
Name: indus, dtype: int64
================================================
Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        33
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Gurgaonr        1
Name: cl_loc, dtype: int64
================================================
Routine                1023
Niche                   163
Dot Net                  18
Trade Finance            11
AML                       8
Production- Sterile       5
Selenium testing          5
Name: pos, dtype: int64
================================================
JAVA/J2EE/Struts/Hibernate                220
Accounting Operations                      86
Fresher                                    86
AML/KYC/CDD                                84
CDD KYC                                    52
Routine                                    47
Oracle                                     43
JAVA/SPRING/HIBERNATE/JSF                  42
Java J2EE                                  33
SAS                                        27
Oracle Plsql                               25
Java Developer                             25
Lending and Liabilities                    22
Banking Operations                         22
Java                                       21
Core Java                                  17
Java J2ee                                  16
T-24 developer                             15
ALS Testing                                15
Senior software engineer-Mednet            15
SCCM                                       14
Sr Automation Testing                      13
Analytical R & D                           13
COTS Developer                             13
Hadoop                                     12
Regulatory                                 12
testing                                    11
Java                                       10
ETL                                         9
Publishing                                  9
                                         ...
Java,spring,hibernate                       3
JAVA/J2EE                                   3
11.30 AM                                    2
RA Label                                    2
Lending&Liablities                          2
L & L                                       2
Submission Management                       2
Production Support - SCCM                   2
Java, Spring, Hibernate                     2
LCM -Manager                                2
Banking operations                          2
Manager                                     1
Java, J2Ee                                  1
SCCM â€“ SQL                                  1
BaseSAS Program/ Reporting                  1
Tech Lead- Mednet                           1
Biosimilars                                 1
JAVA, J2ee                                  1
Production                                  1
9.00 Am                                     1
Sccm- networking                            1
JAVA,J2ee                                   1
SCCM â€“ Sharepoint                           1
10.00 AM                                    1
SCCM-(Network, sharepoint,ms exchange)      1
Technical Lead                              1
9.30 AM                                     1
11.30 Am                                    1
12.30 Pm                                    1
sccm                                        1
Name: skill, Length: 92, dtype: int64
================================================
Scheduled Walk In    456
Scheduled            371
Scheduled Walkin     189
Walkin               189
Walkin                27
Sceduled walkin        1
Name: intrvw_typ, dtype: int64
================================================
Candidate 960     1
Candidate 964     1
Candidate 632     1
Candidate 318     1
Candidate 910     1
Candidate 1020    1
Candidate 1099    1
Candidate 568     1
Candidate 68      1
Candidate 614     1
Candidate 411     1
Candidate 1062    1
Candidate 378     1
Candidate 361     1
Candidate 811     1
Candidate 971     1
Candidate 552     1
Candidate 535     1
Candidate 366     1
Candidate 577     1
Candidate 1056    1
Candidate 111     1
Candidate 113     1
Candidate 209     1
Candidate 180     1
Candidate 843     1
Candidate 52      1
Candidate 830     1
Candidate 194     1
Candidate 941     1
                 ..
Candidate 205     1
Candidate 916     1
Candidate 462     1
Candidate 924     1
Candidate 728     1
Candidate 332     1
Candidate 799     1
Candidate 373     1
Candidate 148     1
Candidate 793     1
Candidate 933     1
Candidate 669     1
Candidate 1165    1
Candidate 500     1
Candidate 1175    1
Candidate 812     1
Candidate 958     1
Candidate 213     1
Candidate 681     1
Candidate 252     1
Candidate 622     1
Candidate 229     1
Candidate 1110    1
Candidate 1138    1
Candidate 536     1
Candidate 430     1
Candidate 276     1
Candidate 850     1
Candidate 582     1
Candidate 492     1
Name: cand_nam, Length: 1233, dtype: int64
================================================
Male      965
Female    268
Name: gend, dtype: int64
================================================
Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        34
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Name: cand_cur_loc, dtype: int64
================================================
Chennai          893
Bangalore        259
Gurgaon           35
Visakapatinam     21
Noida             15
- Cochin-          9
Hosur              1
Name: cand_j_loc, dtype: int64
================================================
Chennai       852
Bangalore     277
Hyderabad      40
Gurgaon        35
Noida          15
- Cochin-       9
Hosur           5
Name: intrvw_ven, dtype: int64
================================================
Chennai          595
Hyderabad        172
Bangalore        151
Gurgaon           26
Cuttack           25
Cochin            24
Pune              22
Coimbatore        21
Allahabad         20
Noida             17
Visakapatinam     16
Nagercoil         16
Trivandrum        14
Kolkata           14
Trichy            13
Vellore           12
Mumbai             7
Chitoor            6
Ahmedabad          5
Chandigarh         5
Pondicherry        5
- Cochin-          5
Vijayawada         4
Delhi              4
Tirupati           4
Hosur              3
Warangal           3
Salem              3
Patna              2
Delhi /NCR         2
Ambur              2
Ghaziabad          1
Belgaum            1
Panjim             1
Faizabad           1
Mysore             1
Tuticorin          1
Hissar             1
Agra               1
Baddi              1
Tanjore            1
Kanpur             1
Kurnool            1
Anantapur          1
Bhubaneshwar       1
Lucknow            1
Name: cand_nat_loc, dtype: int64
================================================
Yes               917
No                 79
Not yet            19
Na                  5
yes                 4
Yet to confirm      4
NO                  1
Name: enq_perm, dtype: int64
================================================
Yes         949
Na           20
No            6
yes           5
Not sure      4
Not Sure      1
cant Say      1
Name: enq_unsch_meet, dtype: int64
================================================
Yes        951
Na          20
No          10
yes          4
No Dont      1
Name: enq_call, dtype: int64
================================================
Yes                          936
No                            27
Na                            19
No I have only thi number      2
na                             1
yes                            1
Name: enq_num, dtype: int64
================================================
Yes                      940
Na                        19
No                        16
Not Yet                    4
Not yet                    2
yes                        2
No- will take it soon      1
na                         1
Name: enq_resume, dtype: int64
================================================
Yes                    946
Na                      19
No                      14
yes                      2
No- I need to check      2
na                       1
no                       1
Name: enq_ven, dtype: int64
================================================
Yes               932
Na                 19
No                 17
Not Sure            8
Need To Check       3
Not yet             2
yes                 2
Not sure            1
Yet to Check        1
na                  1
Havent Checked      1
no                  1
Name: enq_call_letter, dtype: int64
================================================
Yes          882
Uncertain    250
No            59
NO            34
yes            1
10.30 Am       1
11:00 AM       1
Name: expc_at, dtype: int64
================================================
Yes     701
No      401
yes      81
NO       35
no        7
No        6
yes       1
no        1
Name: obs_at, dtype: int64
================================================
Single     767
Married    466
Name: married, dtype: int64
================================================

---  
---  
## Client Name :

In [41]:
df1.cl_nam.value_counts()

Standard Chartered Bank            904
Hospira                             75
Pfizer                              75
Aon Hewitt                          28
Flextronics                         23
ANZ                                 22
Hewitt                              20
UST                                 18
Standard Chartered Bank Chennai     17
Prodapt                             17
Astrazeneca                         15
Williams Lea                        11
Barclays                             5
Aon hewitt Gurgaon                   2
ï»¿ï»¿                                   1
Woori Bank                           1
Name: cl_nam, dtype: int64

In [42]:
l1=[
    "Standard Chartered Bank Chennai",
    "Hewitt",
    "Aon hewitt Gurgaon"
]

l2=[
    "standard chartered bank",
    "aon hewitt",
    "aon hewitt",
]

In [43]:
df1.cl_nam.replace(l1,l2,inplace=True)
df1.cl_nam=df1.cl_nam.str.lower()
df1.cl_nam.value_counts()

standard chartered bank    921
hospira                     75
pfizer                      75
aon hewitt                  50
flextronics                 23
anz                         22
ust                         18
prodapt                     17
astrazeneca                 15
williams lea                11
barclays                     5
ï»¿ï»¿                           1
woori bank                   1
Name: cl_nam, dtype: int64

In [44]:
df_temp=df1.copy()

---  
---  
## Industry :

In [45]:
df1.indus.value_counts()

BFSI                        949
Pharmaceuticals             165
IT Products and Services     45
Electronics                  23
IT Services                  23
Telecom                      17
IT                           11
Name: indus, dtype: int64

In [46]:
df1.indus.replace(["IT Products and Services","IT Services"],["IT","IT"],inplace=True)
df1.indus=df1.indus.str.lower()
print(df1.indus.value_counts())

bfsi               949
pharmaceuticals    165
it                  79
electronics         23
telecom             17
Name: indus, dtype: int64

In [47]:
df_temp=df1.copy()

---  
---  
## Client Location:

In [48]:
print(df1.cl_loc.value_counts())

Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        33
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Gurgaonr        1
Name: cl_loc, dtype: int64

In [49]:
df1.cl_loc=df1.cl_loc.str.lower().str.strip()
df1.cl_loc.replace(["gurgaonr","- cochin-"],["gurgaon","cochin"],inplace=True)
print(df1.cl_loc.value_counts())

chennai      844
bangalore    292
hyderabad     38
gurgaon       34
noida         15
cochin         9
delhi          1
Name: cl_loc, dtype: int64

In [50]:
df_temp=df1.copy()

---  
---  
## Position to be closed:

In [51]:
print(df1.pos.value_counts())

Routine                1023
Niche                   163
Dot Net                  18
Trade Finance            11
AML                       8
Production- Sterile       5
Selenium testing          5
Name: pos, dtype: int64

In [52]:
df1.pos=df1.pos.str.lower()
print(df1.pos.value_counts())

routine                1023
niche                   163
dot net                  18
trade finance            11
aml                       8
production- sterile       5
selenium testing          5
Name: pos, dtype: int64

---  
---  
## Nature of skill set:  
too many weird values. Will look at it later

In [53]:
print(df1.skill.value_counts()[:5])

JAVA/J2EE/Struts/Hibernate    220
Accounting Operations          86
Fresher                        86
AML/KYC/CDD                    84
CDD KYC                        52
Name: skill, dtype: int64

---  
---  
## Interview type:

In [54]:
df1.intrvw_typ.value_counts()

Scheduled Walk In    456
Scheduled            371
Scheduled Walkin     189
Walkin               189
Walkin                27
Sceduled walkin        1
Name: intrvw_typ, dtype: int64

In [55]:
df1.intrvw_typ=df1.intrvw_typ.str.lower().str.strip()
df1.intrvw_typ.replace(["scheduled walk in","sceduled walkin"],["scheduled walkin","scheduled walkin"],inplace=True)
df1.intrvw_typ.value_counts()

scheduled walkin    646
scheduled           371
walkin              216
Name: intrvw_typ, dtype: int64

In [56]:
df_temp=df1.copy()

---  
---  
## Name(Cand ID):

---  
---  
## Gender:

In [57]:
df1.gend=df1.gend.str.lower().str.strip()

---  
---  
## Candidate current location:

In [59]:
df1.cand_cur_loc.value_counts()

Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        34
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Name: cand_cur_loc, dtype: int64

In [60]:
df1.cand_cur_loc=df1.cand_cur_loc.str.lower().str.strip()
df1.cand_cur_loc.replace(["- cochin-"],["cochin"],inplace=True)
print(df1.cand_cur_loc.value_counts())

chennai      844
bangalore    292
hyderabad     38
gurgaon       34
noida         15
cochin         9
delhi          1
Name: cand_cur_loc, dtype: int64

In [61]:
df_temp=df1.copy()

---  
---  
## Candidate Job locations:

In [62]:
df1.cand_j_loc.value_counts()

Chennai          893
Bangalore        259
Gurgaon           35
Visakapatinam     21
Noida             15
- Cochin-          9
Hosur              1
Name: cand_j_loc, dtype: int64

In [63]:
df1.cand_j_loc=df1.cand_cur_loc.str.lower().str.strip()
df1.cand_j_loc.replace(["- cochin-"],["cochin"],inplace=True)
print(df1.cand_j_loc.value_counts())

chennai      844
bangalore    292
hyderabad     38
gurgaon       34
noida         15
cochin         9
delhi          1
Name: cand_j_loc, dtype: int64

In [64]:
df_temp=df1.copy()

---  
---  
## Interview venue:

In [65]:
df1.intrvw_ven.value_counts()

Chennai       852
Bangalore     277
Hyderabad      40
Gurgaon        35
Noida          15
- Cochin-       9
Hosur           5
Name: intrvw_ven, dtype: int64

In [66]:
df1.intrvw_ven=df1.intrvw_ven.str.lower().str.strip()
df1.intrvw_ven.replace(["- cochin-"],["cochin"],inplace=True)
print(df1.intrvw_ven.value_counts())

chennai      852
bangalore    277
hyderabad     40
gurgaon       35
noida         15
cochin         9
hosur          5
Name: intrvw_ven, dtype: int64

In [67]:
df_temp=df1.copy()

---  
---  
## Candidate native location:  
### dont know what to do with this

In [68]:
l1=df1.cand_nat_loc.str.lower().str.strip().value_counts().index.tolist()

---  
---  
## Have you obtained the necessary permission to start at the required time

In [69]:
df1.enq_perm.value_counts()

Yes               917
No                 79
Not yet            19
Na                  5
yes                 4
Yet to confirm      4
NO                  1
Name: enq_perm, dtype: int64

In [70]:
df1.enq_perm=df1.enq_perm.str.lower()
df1.enq_perm.replace(["not yet","na","yet to confirm"],["no","no","no"],inplace=True)
print(df1.enq_perm.value_counts())

yes    921
no     108
Name: enq_perm, dtype: int64

In [71]:
df_temp=df1.copy

---  
---  
## Hope there will be no unscheduled meetings

In [72]:
df1.enq_unsch_meet.str.lower().value_counts()

yes         954
na           20
no            6
not sure      5
cant say      1
Name: enq_unsch_meet, dtype: int64

In [73]:
df1.enq_unsch_meet=df1.enq_unsch_meet.str.lower()
df1.enq_unsch_meet.replace(["na","cant say"],["no","not sure"],inplace=True)
df1.enq_unsch_meet.value_counts()

yes         954
no           26
not sure      6
Name: enq_unsch_meet, dtype: int64

In [74]:
df_temp=df1.copy()no- i need to check

SyntaxError: invalid syntax (<ipython-input-74-26a7f5f2a4ff>, line 1)

---  
---  
## Can I Call you three hours before the interview and follow up on your attendance for the interview

In [75]:
df1.enq_call.value_counts()

Yes        951
Na          20
No          10
yes          4
No Dont      1
Name: enq_call, dtype: int64

In [76]:
df1.enq_call=df1.enq_call.str.lower()
df1.enq_call.replace(["na","no dont"],["no","no"],inplace=True)
df1.enq_call.value_counts()

yes    955
no      31
Name: enq_call, dtype: int64

In [77]:
df_temp=df1.copy()

---  
---  
## Can I have an alternative number/ desk number. I assure you that I will not trouble you too much

In [78]:
df1.enq_num.value_counts()

Yes                          936
No                            27
Na                            19
No I have only thi number      2
na                             1
yes                            1
Name: enq_num, dtype: int64

In [79]:
df1.enq_num=df1.enq_num.str.lower()
df1.enq_num.replace(["na","no i have only thi number"],["no","no"],inplace=True)
print(df1.enq_num.value_counts())

yes    937
no      49
Name: enq_num, dtype: int64

---  
---  
## Have you taken a printout of your updated resume. Have you read the JD and understood the same

In [80]:
df1.enq_resume.value_counts()

Yes                      940
Na                        19
No                        16
Not Yet                    4
Not yet                    2
yes                        2
No- will take it soon      1
na                         1
Name: enq_resume, dtype: int64

In [81]:
df1.enq_resume=df1.enq_resume.str.lower()
df1.enq_resume.replace(["na","not yet","no- will take it soon"],["no","no","no"],inplace=True)
df1.enq_resume.value_counts()

yes    942
no      43
Name: enq_resume, dtype: int64

In [82]:
df_temp=df1.copy()

---  
---  
## Are you clear with the venue details and the landmark.

In [83]:
df1.enq_ven.value_counts()

Yes                    946
Na                      19
No                      14
yes                      2
No- I need to check      2
na                       1
no                       1
Name: enq_ven, dtype: int64

In [84]:
df1.enq_ven=df1.enq_ven.str.lower()
df1.enq_ven.replace(["na","no- i need to check"],["no","no"],inplace=True)
print(df1.enq_ven.value_counts())

yes    948
no      37
Name: enq_ven, dtype: int64

In [85]:
df_temp=df1.copy()

---  
---  
## Has the call letter been shared

In [86]:
df1.enq_call_letter.value_counts()

Yes               932
Na                 19
No                 17
Not Sure            8
Need To Check       3
Not yet             2
yes                 2
Not sure            1
Yet to Check        1
na                  1
Havent Checked      1
no                  1
Name: enq_call_letter, dtype: int64

In [87]:
df1.enq_call_letter=df1.enq_call_letter.str.lower()
df1.enq_call_letter.replace(["na","not yet","not sure","havent checked","yet to check"],["no","no","need to check","need to check","need to check"],inplace=True)
print(df1.enq_call_letter.value_counts())

yes              934
no                40
need to check     14
Name: enq_call_letter, dtype: int64

---  
---  
## Expected Attendance

In [88]:
df1.expc_at.value_counts()

Yes          882
Uncertain    250
No            59
NO            34
yes            1
10.30 Am       1
11:00 AM       1
Name: expc_at, dtype: int64

In [89]:
df1.expc_at=df1.expc_at.str.lower()
df1.expc_at.replace(["11:00 am","10.30 am"],["yes","yes"],inplace=True)
print(df1.expc_at.value_counts())

yes          885
uncertain    250
no            93
Name: expc_at, dtype: int64

In [90]:
df_temp=df1.copy()

---  
---  
## Observed Attendance

In [91]:
df1.obs_at.value_counts()

Yes     701
No      401
yes      81
NO       35
no        7
No        6
yes       1
no        1
Name: obs_at, dtype: int64

In [92]:
df1.obs_at=df1.obs_at.str.lower().str.strip()
print(df1.obs_at.value_counts())

yes    783
no     450
Name: obs_at, dtype: int64

In [93]:
df_temp=df1.copy()

---  
---  
## Marital Status

In [94]:
df1.married.value_counts()

Single     767
Married    466
Name: married, dtype: int64

In [95]:
df1.married=df1.married.str.lower()
print(df1.married.value_counts())

single     767
married    466
Name: married, dtype: int64

In [96]:
df_temp=df1.copy()

In [97]:
df_temp.head()

,doi,cl_nam,indus,cl_loc,pos,skill,intrvw_typ,cand_nam,gend,cand_cur_loc,...,enq_perm,enq_unsch_meet,enq_call,enq_num,enq_resume,enq_ven,enq_call_letter,expc_at,obs_at,married
0,13.02.2015,hospira,pharmaceuticals,chennai,production- sterile,Routine,scheduled walkin,Candidate 1,male,chennai,...,yes,yes,yes,yes,yes,yes,yes,yes,no,single
1,13.02.2015,hospira,pharmaceuticals,chennai,production- sterile,Routine,scheduled walkin,Candidate 2,male,chennai,...,yes,yes,yes,yes,yes,yes,yes,yes,no,single
2,13.02.2015,hospira,pharmaceuticals,chennai,production- sterile,Routine,scheduled walkin,Candidate 3,male,chennai,...,NaN,no,NaN,NaN,NaN,NaN,NaN,uncertain,no,single
3,13.02.2015,hospira,pharmaceuticals,chennai,production- sterile,Routine,scheduled walkin,Candidate 4,male,chennai,...,yes,yes,no,yes,no,yes,yes,uncertain,no,single
4,13.02.2015,hospira,pharmaceuticals,chennai,production- sterile,Routine,scheduled walkin,Candidate 5,male,chennai,...,yes,yes,yes,no,yes,yes,yes,uncertain,no,married

---
---

# DATE OF INTERVIEW

In [185]:
#df['doi'].value_counts()

In [103]:
#This is used to format the dates 
def clean_date(date):
    date = date.str.strip()
    date = date.str.split("&").str[0]
    date = date.str.replace('â€“', '/')
    date = date.str.replace('.', '/')
    date = date.str.replace('Apr', '04')
    date = date.str.replace('-', '/')
    date = date.str.replace(' ', '/')
    date = date.str.replace('//+', '/')
    return date

In [165]:
#To make all the values in the same format of date time to get the day of interview and the month of interview
df['year'] = df['doi'].str.split("/").str[2]
df['day'] = df['doi'].str.split("/").str[0]
df['month'] = df['doi'].str.split("/").str[1]
df['year'].replace(['16', '15'], ['2016', '2015'], inplace = True)
df['date'] = pd.to_datetime(pd.DataFrame({'year': df['year'],
                                            'month': df['month'],
                                            'day': df['day']}), format = '%Y %m %d')
df.drop(['year', 'month', 'day'], axis = 1, inplace = True)

In [219]:
#df['doi'] = clean_date(df['doi'])
# df['doi'] =df['date']
dt=df['doi']

In [220]:
ls=[]
for i in range(len(dt)):
    ls.append(dt[i].weekday()+1)

In [221]:
df['day']=ls

In [215]:
df.drop(df.index[[1233]], inplace = True)

In [226]:
dt[0].month

2

In [228]:
ls=[]
for i in range(len(dt)):
    ls.append(dt[i].month)

In [229]:
df['month']=ls

In [261]:
df.head()

,doi,cl_nam,indus,cl_loc,pos,skill,intrvw_typ,cand_nam,gend,cand_cur_loc,...,enq_call,enq_num,enq_resume,enq_ven,enq_call_letter,expc_at,obs_at,married,day,month
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,5,2
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,5,2
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single,5,2
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,No,Yes,No,Yes,Yes,Uncertain,No,Single,5,2
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,No,Yes,Yes,Yes,Uncertain,No,Married,5,2

---
---

# CLIENT NAME

In [235]:
df.head()

,doi,cl_nam,indus,cl_loc,pos,skill,intrvw_typ,cand_nam,gend,cand_cur_loc,...,enq_call,enq_num,enq_resume,enq_ven,enq_call_letter,expc_at,obs_at,married,day,month
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,5,2
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,5,2
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single,5,2
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,No,Yes,No,Yes,Yes,Uncertain,No,Single,5,2
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,No,Yes,Yes,Yes,Uncertain,No,Married,5,2

In [237]:
df['cl_nam'].value_counts()

Standard Chartered Bank            904
Hospira                             75
Pfizer                              75
Aon Hewitt                          28
Flextronics                         23
ANZ                                 22
Hewitt                              20
UST                                 18
Standard Chartered Bank Chennai     17
Prodapt                             17
Astrazeneca                         15
Williams Lea                        11
Barclays                             5
Aon hewitt Gurgaon                   2
Woori Bank                           1
Name: cl_nam, dtype: int64

---
---

# test

---
---

,doi,cl_nam,indus,cl_loc,pos,skill,intrvw_typ,cand_nam,gend,cand_cur_loc,...,enq_call,enq_num,enq_resume,enq_ven,enq_call_letter,expc_at,obs_at,married,day,month
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,5,2
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Single,5,2
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single,5,2
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,No,Yes,No,Yes,Yes,Uncertain,No,Single,5,2
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,No,Yes,Yes,Yes,Uncertain,No,Married,5,2

In [247]:
df1['cl_nam'].value_counts()

standard chartered bank    921
hospira                     75
pfizer                      75
aon hewitt                  50
flextronics                 23
anz                         22
ust                         18
prodapt                     17
astrazeneca                 15
williams lea                11
barclays                     5
ï»¿ï»¿                           1
woori bank                   1
Name: cl_nam, dtype: int64

In [260]:
df1['enq_perm'].value_counts()

yes          921
uncertain    205
no           108
Name: enq_perm, dtype: int64

In [256]:
df1['enq_perm'].fillna("uncertain",inplace=True)