In [250]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import calendar
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn import model_selection
from sklearn.feature_selection import RFECV
from sklearn import linear_model
from sklearn import metrics
from sklearn import feature_selection
from sklearn import naive_bayes
from sklearn import ensemble
from sklearn.feature_selection import VarianceThreshold

In [3]:
df=pd.read_csv("Interview.csv")

In [4]:
df.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [5]:
print(df.columns[-5:])
df[df.columns[-5:]].describe()
df.drop(df.columns[-5:],axis=1,inplace=True)

Index(['Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27'],
      dtype='object')

f=open("/home/soham/Desktop/columns","w")
for col in df.columns:
    f.write("\""+col+"\""+" : \"\", \n")
f.close()

f=open("/home/soham/Desktop/markdown","w")
for k in dic.keys():
    f.write("|"+k+"|"+dic[k]+"|\n")
f.close()

In [6]:
col_dic={"Date of Interview" : "doi",
"Client name" : "cl_nam",
"Industry" : "indus",
"Location" : "cl_loc",
"Position to be closed" : "pos",
"Nature of Skillset" : "skill",
"Interview Type" : "intrvw_typ",
"Name(Cand ID)" : "cand_nam",
"Gender" : "gend",
"Candidate Current Location" : "cand_cur_loc",
"Candidate Job Location" : "cand_j_loc",
"Interview Venue" : "intrvw_ven",
"Candidate Native location" : "cand_nat_loc",
"Have you obtained the necessary permission to start at the required time" : "enq_perm",
"Hope there will be no unscheduled meetings" : "enq_unsch_meet",
"Can I Call you three hours before the interview and follow up on your attendance for the interview" : "enq_call",
"Can I have an alternative number/ desk number. I assure you that I will not trouble you too much" : "enq_num",
"Have you taken a printout of your updated resume. Have you read the JD and understood the same" : "enq_resume",
"Are you clear with the venue details and the landmark." : "enq_ven",
"Has the call letter been shared" : "enq_call_letter",
"Expected Attendance" : "expc_at",
"Observed Attendance" : "obs_at",
"Marital Status" : "married"}

In [7]:
df.rename(columns=col_dic,inplace=True)

|Column|Renamed|
|---|---|
|Date of Interview|doi|
|Client name|cl_nam|
|Industry|indus|
|Location|cl_loc|
|Position to be closed|pos|
|Nature of Skillset|skill|
|Interview Type|intrvw_typ|
|Name(Cand ID)|cand_nam|
|Gender|gend|
|Candidate Current Location|cand_cur_loc|
|Candidate Job Location|cand_j_loc|
|Interview Venue|intrvw_ven|
|Candidate Native location|cand_nat_loc|
|Have you obtained the necessary permission to start at the required time|enq_perm|
|Hope there will be no unscheduled meetings|enq_unsch_meet|
|Can I Call you three hours before the interview and follow up on your attendance for the interview|enq_call|
|Can I have an alternative number/ desk number. I assure you that I will not trouble you too much|enq_num|
|Have you taken a printout of your updated resume. Have you read the JD and understood the same|enq_resume|
|Are you clear with the venue details and the landmark.|enq_ven|
|Has the call letter been shared|enq_call_letter|
|Expected Attendance|expc_at|
|Observed Attendance|obs_at|
|Marital Status|married|

---  
---  
### This section is for testing

In [8]:
df1=df.copy()

In [9]:
#df_temp=df1.copy()
#df1=df_temp.copy()

In [10]:
# for col in df.columns[1:]:
#     print(df_temp[col].value_counts())
#     print("================================================")

---  
---  
## Client Name :

In [11]:
df1.cl_nam.value_counts()

Standard Chartered Bank            904
Hospira                             75
Pfizer                              75
Aon Hewitt                          28
Flextronics                         23
ANZ                                 22
Hewitt                              20
UST                                 18
Prodapt                             17
Standard Chartered Bank Chennai     17
Astrazeneca                         15
Williams Lea                        11
Barclays                             5
Aon hewitt Gurgaon                   2
Woori Bank                           1
ï»¿ï»¿                                   1
Name: cl_nam, dtype: int64

In [12]:
l1=[
    "Standard Chartered Bank Chennai",
    "Hewitt",
    "Aon hewitt Gurgaon"
]

l2=[
    "standard chartered bank",
    "aon hewitt",
    "aon hewitt",
]

In [13]:
df1.cl_nam.replace(l1,l2,inplace=True)
df1.cl_nam=df1.cl_nam.str.lower()
df1.cl_nam.value_counts()

standard chartered bank    921
hospira                     75
pfizer                      75
aon hewitt                  50
flextronics                 23
anz                         22
ust                         18
prodapt                     17
astrazeneca                 15
williams lea                11
barclays                     5
ï»¿ï»¿                           1
woori bank                   1
Name: cl_nam, dtype: int64

In [14]:
df_temp=df1.copy()

---  
---  
## Industry :

In [15]:
df1.indus.value_counts()

BFSI                        949
Pharmaceuticals             165
IT Products and Services     45
Electronics                  23
IT Services                  23
Telecom                      17
IT                           11
Name: indus, dtype: int64

In [16]:
df1.indus.replace(["IT Products and Services","IT Services"],["IT","IT"],inplace=True)
df1.indus=df1.indus.str.lower()
print(df1.indus.value_counts())

bfsi               949
pharmaceuticals    165
it                  79
electronics         23
telecom             17
Name: indus, dtype: int64

In [17]:
df_temp=df1.copy()

---  
---  
## Client Location:

In [18]:
print(df1.cl_loc.value_counts())

Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        33
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Gurgaonr        1
Name: cl_loc, dtype: int64

In [19]:
df1.cl_loc=df1.cl_loc.str.lower().str.strip()
df1.cl_loc.replace(["gurgaonr","- cochin-"],["gurgaon","cochin"],inplace=True)
print(df1.cl_loc.value_counts())

chennai      844
bangalore    292
hyderabad     38
gurgaon       34
noida         15
cochin         9
delhi          1
Name: cl_loc, dtype: int64

In [20]:
df_temp=df1.copy()

---  
---  
## Position to be closed:

In [21]:
print(df1.pos.value_counts())

Routine                1023
Niche                   163
Dot Net                  18
Trade Finance            11
AML                       8
Production- Sterile       5
Selenium testing          5
Name: pos, dtype: int64

In [22]:
df1.pos=df1.pos.str.lower()
print(df1.pos.value_counts())

routine                1023
niche                   163
dot net                  18
trade finance            11
aml                       8
selenium testing          5
production- sterile       5
Name: pos, dtype: int64

---  
---  
## Nature of skill set:  
too many weird values. Will look at it later

In [23]:
print(df1.skill.value_counts()[:5])

JAVA/J2EE/Struts/Hibernate    220
Accounting Operations          86
Fresher                        86
AML/KYC/CDD                    84
CDD KYC                        52
Name: skill, dtype: int64

---  
---  
## Interview type:

In [24]:
df1.intrvw_typ.value_counts()

Scheduled Walk In    456
Scheduled            371
Walkin               189
Scheduled Walkin     189
Walkin                27
Sceduled walkin        1
Name: intrvw_typ, dtype: int64

In [25]:
df1.intrvw_typ=df1.intrvw_typ.str.lower().str.strip()
df1.intrvw_typ.replace(["scheduled walk in","sceduled walkin"],["scheduled walkin","scheduled walkin"],inplace=True)
df1.intrvw_typ.value_counts()

scheduled walkin    646
scheduled           371
walkin              216
Name: intrvw_typ, dtype: int64

In [26]:
df_temp=df1.copy()

---  
---  
## Name(Cand ID):

---  
---  
## Gender:

In [27]:
df1.gend=df1.gend.str.lower().str.strip()

---  
---  
## Candidate current location:

In [28]:
df1.cand_cur_loc.value_counts()

Chennai       754
Bangalore     292
chennai        86
Hyderabad      38
Gurgaon        34
Noida          15
- Cochin-       9
chennai         3
CHENNAI         1
Delhi           1
Name: cand_cur_loc, dtype: int64

In [29]:
df1.cand_cur_loc=df1.cand_cur_loc.str.lower().str.strip()
df1.cand_cur_loc.replace(["- cochin-"],["cochin"],inplace=True)
print(df1.cand_cur_loc.value_counts())

chennai      844
bangalore    292
hyderabad     38
gurgaon       34
noida         15
cochin         9
delhi          1
Name: cand_cur_loc, dtype: int64

In [30]:
df_temp=df1.copy()

---  
---  
## Candidate Job locations:

In [31]:
df1.cand_j_loc.value_counts()

Chennai          893
Bangalore        259
Gurgaon           35
Visakapatinam     21
Noida             15
- Cochin-          9
Hosur              1
Name: cand_j_loc, dtype: int64

In [32]:
df1.cand_j_loc=df1.cand_cur_loc.str.lower().str.strip()
df1.cand_j_loc.replace(["- cochin-"],["cochin"],inplace=True)
print(df1.cand_j_loc.value_counts())

chennai      844
bangalore    292
hyderabad     38
gurgaon       34
noida         15
cochin         9
delhi          1
Name: cand_j_loc, dtype: int64

In [33]:
df_temp=df1.copy()

---  
---  
## Interview venue:

In [34]:
df1.intrvw_ven.value_counts()

Chennai       852
Bangalore     277
Hyderabad      40
Gurgaon        35
Noida          15
- Cochin-       9
Hosur           5
Name: intrvw_ven, dtype: int64

In [35]:
df1.intrvw_ven=df1.intrvw_ven.str.lower().str.strip()
df1.intrvw_ven.replace(["- cochin-"],["cochin"],inplace=True)
print(df1.intrvw_ven.value_counts())

chennai      852
bangalore    277
hyderabad     40
gurgaon       35
noida         15
cochin         9
hosur          5
Name: intrvw_ven, dtype: int64

In [36]:
df_temp=df1.copy()

---  
---  
## Candidate native location:  
### dont know what to do with this

In [37]:
l1=df1.cand_nat_loc.str.lower().str.strip().value_counts().index.tolist()

---  
---  
## Have you obtained the necessary permission to start at the required time

In [38]:
df1.enq_perm.value_counts()

Yes               917
No                 79
Not yet            19
Na                  5
yes                 4
Yet to confirm      4
NO                  1
Name: enq_perm, dtype: int64

In [39]:
df1.enq_perm=df1.enq_perm.str.lower()
df1.enq_perm.replace(["not yet","na","yet to confirm"],["no","no","no"],inplace=True)
print(df1.enq_perm.value_counts())

yes    921
no     108
Name: enq_perm, dtype: int64

In [40]:
#df_temp=df1.copy
df1.enq_perm.isna().sum()

205

In [41]:
df1['enq_perm'].fillna("uncertain",inplace=True)
df1.drop(df.index[[1233]], inplace = True)

---  
---  
## Hope there will be no unscheduled meetings

In [42]:
df1.enq_unsch_meet.str.lower().value_counts()

yes         954
na           20
no            6
not sure      5
cant say      1
Name: enq_unsch_meet, dtype: int64

In [43]:
df1.enq_unsch_meet=df1.enq_unsch_meet.str.lower()
df1.enq_unsch_meet.replace(["na","cant say","not sure"],["no","uncertain","uncertain"],inplace=True)
df1.enq_unsch_meet.value_counts()

yes          954
no            26
uncertain      6
Name: enq_unsch_meet, dtype: int64

In [44]:
df1.enq_unsch_meet.isna().sum()

247

In [45]:
df1.enq_unsch_meet.fillna("uncertain",inplace=True)

In [46]:
df_temp=df1.copy()

---  
---  
## Can I Call you three hours before the interview and follow up on your attendance for the interview

In [47]:
df1.enq_call.value_counts()

Yes        951
Na          20
No          10
yes          4
No Dont      1
Name: enq_call, dtype: int64

In [48]:
df1.enq_call=df1.enq_call.str.lower()
df1.enq_call.replace(["na","no dont"],["no","no"],inplace=True)
df1.enq_call.value_counts()

yes    955
no      31
Name: enq_call, dtype: int64

In [49]:
df1.enq_call.fillna("uncertain",inplace=True)

In [50]:
df_temp=df1.copy()

---  
---  
## Can I have an alternative number/ desk number. I assure you that I will not trouble you too much

In [51]:
df1.enq_num.value_counts()

Yes                          936
No                            27
Na                            19
No I have only thi number      2
yes                            1
na                             1
Name: enq_num, dtype: int64

In [52]:
df1.enq_num=df1.enq_num.str.lower()
df1.enq_num.replace(["na","no i have only thi number"],["no","no"],inplace=True)
print(df1.enq_num.value_counts())

yes    937
no      49
Name: enq_num, dtype: int64

In [53]:
df1.enq_num.fillna("uncertain",inplace=True)

---  
---  
## Have you taken a printout of your updated resume. Have you read the JD and understood the same

In [54]:
df1.enq_resume.value_counts()

Yes                      940
Na                        19
No                        16
Not Yet                    4
yes                        2
Not yet                    2
na                         1
No- will take it soon      1
Name: enq_resume, dtype: int64

In [55]:
df1.enq_resume=df1.enq_resume.str.lower()
df1.enq_resume.replace(["na","not yet","no- will take it soon"],["no","no","no"],inplace=True)
df1.enq_resume.value_counts()

yes    942
no      43
Name: enq_resume, dtype: int64

In [56]:
df1.enq_resume.fillna("uncertain",inplace=True)

In [57]:
df_temp=df1.copy()

---  
---  
## Are you clear with the venue details and the landmark.

In [58]:
df1.enq_ven.value_counts()

Yes                    946
Na                      19
No                      14
yes                      2
No- I need to check      2
na                       1
no                       1
Name: enq_ven, dtype: int64

In [59]:
df1.enq_ven=df1.enq_ven.str.lower()
df1.enq_ven.replace(["na","no- i need to check"],["no","no"],inplace=True)
print(df1.enq_ven.value_counts())

yes    948
no      37
Name: enq_ven, dtype: int64

In [60]:
df1.enq_ven.fillna("uncertain",inplace=True)

In [61]:
df_temp=df1.copy()

---  
---  
## Has the call letter been shared

In [62]:
df1.enq_call_letter.value_counts()

Yes               932
Na                 19
No                 17
Not Sure            8
Need To Check       3
yes                 2
Not yet             2
Not sure            1
Yet to Check        1
na                  1
Havent Checked      1
no                  1
Name: enq_call_letter, dtype: int64

In [63]:
df1.enq_call_letter=df1.enq_call_letter.str.lower()
df1.enq_call_letter.replace(["na","not yet","not sure","havent checked","yet to check","need to check"],["no","no","uncertain","uncertain","uncertain","uncertain"],inplace=True)
print(df1.enq_call_letter.value_counts())

yes          934
no            40
uncertain     14
Name: enq_call_letter, dtype: int64

In [64]:
df1.enq_call_letter.fillna("uncertain",inplace=True)
df1.enq_call_letter.value_counts()

yes          934
uncertain    259
no            40
Name: enq_call_letter, dtype: int64

In [65]:
df_temp=df1.copy()

---  
---  
## Expected Attendance

In [66]:
df1.expc_at.value_counts()

Yes          882
Uncertain    250
No            59
NO            34
yes            1
10.30 Am       1
11:00 AM       1
Name: expc_at, dtype: int64

In [67]:
df1.expc_at=df1.expc_at.str.lower()
df1.expc_at.replace(["11:00 am","10.30 am"],["yes","yes"],inplace=True)
print(df1.expc_at.value_counts())

yes          885
uncertain    250
no            93
Name: expc_at, dtype: int64

In [68]:
df1.expc_at.fillna("uncertain",inplace=True)

In [69]:
df_temp=df1.copy()

---  
---  
## Observed Attendance

In [70]:
df1.obs_at.value_counts()

Yes     701
No      401
yes      81
NO       35
no        7
No        6
no        1
yes       1
Name: obs_at, dtype: int64

In [71]:
df1.obs_at=df1.obs_at.str.lower().str.strip()
print(df1.obs_at.value_counts())

yes    783
no     450
Name: obs_at, dtype: int64

In [72]:
df_temp=df1.copy()

---  
---  
## Marital Status

In [73]:
df1.married.value_counts()

Single     767
Married    466
Name: married, dtype: int64

In [74]:
df1.married=df1.married.str.lower()
print(df1.married.value_counts())

single     767
married    466
Name: married, dtype: int64

In [75]:
df_temp=df1.copy()

---  
---  
## DATE OF INTERVIEW

In [76]:
#This is used to format the dates 
def clean_date(date):
    date = date.str.strip()
    date = date.str.split("&").str[0]
    date = date.str.replace('â€“', '/')
    date = date.str.replace('.', '/')
    date = date.str.replace('Apr', '04')
    date = date.str.replace('-', '/')
    date = date.str.replace(' ', '/')
    date = date.str.replace('//+', '/')
    return date

# modeling_df = modeling_df[modeling_df['date'] < '2018-01-01']

In [77]:
df1['doi'] = clean_date(df1['doi'])

In [78]:
type(df1.doi[0])

str

In [79]:
#To make all the values in the same format of date time to get the day of interview and the month of interview
df1['year'] = df1['doi'].str.split("/").str[2]
df1['day'] = df1['doi'].str.split("/").str[0]
df1['month'] = df1['doi'].str.split("/").str[1]
df1['year'].replace(['16', '15'], ['2016', '2015'], inplace = True)
df1['date'] = pd.to_datetime(pd.DataFrame({'year': df1['year'],
                                            'month': df1['month'],
                                            'day': df1['day']}), format = '%Y-%m-%d')
df1.drop(['year', 'month', 'day'], axis = 1, inplace = True)

In [80]:
dt=df1['date']

In [81]:
ls=[]
for i in range(len(dt)):
    ls.append(dt[i].month)
df1['month']=ls

In [82]:
ls=[]
for i in range(len(dt)):
    ls.append(dt[i].weekday()+1)
df1['day']=ls

In [83]:
df1.drop(columns=['doi','date','skill'],axis=1,inplace=True)

In [84]:
df_temp=df1.copy()

In [85]:
for col in df1.columns:
    print(col," ",df1[col].isna().sum())

cl_nam   0
indus   0
cl_loc   0
pos   0
intrvw_typ   0
cand_nam   0
gend   0
cand_cur_loc   0
cand_j_loc   0
intrvw_ven   0
cand_nat_loc   0
enq_perm   0
enq_unsch_meet   0
enq_call   0
enq_num   0
enq_resume   0
enq_ven   0
enq_call_letter   0
expc_at   0
obs_at   0
married   0
month   0
day   0

In [86]:
df_temp=df1.copy()

---  
---  
# Cleaned:

In [87]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1233 entries, 0 to 1232
Data columns (total 23 columns):
cl_nam             1233 non-null object
indus              1233 non-null object
cl_loc             1233 non-null object
pos                1233 non-null object
intrvw_typ         1233 non-null object
cand_nam           1233 non-null object
gend               1233 non-null object
cand_cur_loc       1233 non-null object
cand_j_loc         1233 non-null object
intrvw_ven         1233 non-null object
cand_nat_loc       1233 non-null object
enq_perm           1233 non-null object
enq_unsch_meet     1233 non-null object
enq_call           1233 non-null object
enq_num            1233 non-null object
enq_resume         1233 non-null object
enq_ven            1233 non-null object
enq_call_letter    1233 non-null object
expc_at            1233 non-null object
obs_at             1233 non-null object
married            1233 non-null object
month              1233 non-null int64
day                1233 non-null int64
dtypes: int64(2), object(21)
memory usage: 271.2+ KB

In [88]:
df1.head()

,cl_nam,indus,cl_loc,pos,intrvw_typ,cand_nam,gend,cand_cur_loc,cand_j_loc,intrvw_ven,...,enq_call,enq_num,enq_resume,enq_ven,enq_call_letter,expc_at,obs_at,married,month,day
0,hospira,pharmaceuticals,chennai,production- sterile,scheduled walkin,Candidate 1,male,chennai,chennai,hosur,...,yes,yes,yes,yes,yes,yes,no,single,2,5
1,hospira,pharmaceuticals,chennai,production- sterile,scheduled walkin,Candidate 2,male,chennai,chennai,hosur,...,yes,yes,yes,yes,yes,yes,no,single,2,5
2,hospira,pharmaceuticals,chennai,production- sterile,scheduled walkin,Candidate 3,male,chennai,chennai,hosur,...,uncertain,uncertain,uncertain,uncertain,uncertain,uncertain,no,single,2,5
3,hospira,pharmaceuticals,chennai,production- sterile,scheduled walkin,Candidate 4,male,chennai,chennai,hosur,...,no,yes,no,yes,yes,uncertain,no,single,2,5
4,hospira,pharmaceuticals,chennai,production- sterile,scheduled walkin,Candidate 5,male,chennai,chennai,hosur,...,yes,no,yes,yes,yes,uncertain,no,married,2,5

In [89]:
df1.drop('cand_nam',axis=1,inplace=True)

In [90]:
df2=df1.copy()
def t(col):
    j=1
    dic={}
    for i in df2[col].value_counts().index:
        dic[i]=j
        j+=1
    df2[col].replace(dic,inplace=True)

In [91]:
for col in df2.columns:
    if(col=='month' or col=='day'):
        continue
    t(col)

In [92]:
ohel = df2.drop(['obs_at','expc_at'],axis=1).columns.tolist()
df3 = pd.get_dummies(df2, prefix=ohel, columns=ohel)

--- 
---

## Feature Selection

In [93]:
df3.columns.value_counts().sum()

145

In [94]:
X = df3.drop(['obs_at','expc_at'],axis=1)
y = df3['obs_at']

In [229]:
thresholder = VarianceThreshold(threshold=.22)

In [230]:
X_high_variance = thresholder.fit_transform(X)

In [231]:
df3.columns[thresholder.get_support(indices=True)]

Index(['pos_6', 'intrvw_ven_6', 'enq_call_letter_2', 'enq_call_letter_3',
       'day_4'],
      dtype='object')

In [226]:
feature_scores = feature_selection.mutual_info_classif(X, y)

In [227]:
micc = []
for score, fname in sorted(zip(feature_scores, X.columns.tolist()), reverse=True)[:10]:
    micc += [fname]
micc

['enq_perm_3',
 'enq_perm_1',
 'enq_call_1',
 'enq_num_1',
 'enq_resume_1',
 'enq_ven_2',
 'enq_resume_2',
 'enq_num_2',
 'cand_nat_loc_43',
 'gend_1']

In [228]:
X2 = df3[micc]
thresholder2 = VarianceThreshold(threshold=0.18)
X_high_variance2 = thresholder2.fit_transform(X2)
X2.columns[thresholder2.get_support(indices=True)]

Index(['enq_perm_1', 'enq_num_1', 'enq_resume_1'], dtype='object')

In [255]:
X3 = df3[X2.columns[thresholder2.get_support(indices=True)].tolist()+df3.columns[thresholder.get_support(indices=True)].tolist()]
X4 = df3[df3.columns[thresholder.get_support(indices=True)].tolist()]
X5 = df3[X2.columns[thresholder2.get_support(indices=True)].tolist()]

--- 
---  
## Function common to all models

In [236]:
def printresult(actual,predicted):
    confmatrix=metrics.confusion_matrix(actual,predicted)
    accscore=metrics.accuracy_score(actual,predicted)
    precscore=metrics.precision_score(actual,predicted)
    recscore=metrics.recall_score(actual,predicted)
    print(confmatrix)
    print("accuracy : {:.4f}".format(accscore))
    print("precision : {:.4f}".format(precscore))
    print("recall : {:.4f}".format(recscore))
    print("f1-score : {:.4f}".format(metrics.f1_score(actual,predicted)))
    print("AUC : {:.4f}".format(metrics.roc_auc_score(actual,predicted)))

--- 
---  
## Logistic Regression

In [256]:
Xtrain3,Xtest3,ytrain3,ytest3=model_selection.train_test_split(X3,y,test_size=.15,random_state=210)
model1=linear_model.LogisticRegression()
model1.fit(Xtrain3,ytrain3)
predict_test1=model1.predict(Xtest3)
printresult(ytest3,predict_test1)

[[111  18]
 [ 24  32]]
accuracy : 0.7730
precision : 0.8222
recall : 0.8605
f1-score : 0.8409
AUC : 0.7159

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [257]:
Xtrain4,Xtest4,ytrain4,ytest4=model_selection.train_test_split(X4,y,test_size=.15,random_state=210)
model14=linear_model.LogisticRegression()
model14.fit(Xtrain4,ytrain)
predict_test14=model14.predict(Xtest4)
printresult(ytest4,predict_test14)

[[111  18]
 [ 28  28]]
accuracy : 0.7514
precision : 0.7986
recall : 0.8605
f1-score : 0.8284
AUC : 0.6802

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [258]:
Xtrain5,Xtest5,ytrain5,ytest5=model_selection.train_test_split(X5,y,test_size=.15,random_state=210)
model15=linear_model.LogisticRegression()
model15.fit(Xtrain5,ytrain)
predict_test15=model15.predict(Xtest5)
printresult(ytest5,predict_test15)

[[112  17]
 [ 25  31]]
accuracy : 0.7730
precision : 0.8175
recall : 0.8682
f1-score : 0.8421
AUC : 0.7109

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [240]:
temp = df3[X3.columns.tolist()+['obs_at']]

--- 
---  
## Naive Bayes

In [252]:
model2=naive_bayes.BernoulliNB()
model2.fit(Xtrain,ytrain)
predict_test2=model2.predict(Xtest)
printresult(ytest,predict_test2)

[[111  18]
 [ 25  31]]
accuracy : 0.7676
precision : 0.8162
recall : 0.8605
f1-score : 0.8377
AUC : 0.7070

--- 
---  
## Random Forest

In [254]:
model3=ensemble.RandomForestClassifier(n_estimators=1000)
model3.fit(Xtrain,ytrain)
predict_test3=model3.predict(Xtest)
printresult(ytest,predict_test3)

[[114  15]
 [ 26  30]]
accuracy : 0.7784
precision : 0.8143
recall : 0.8837
f1-score : 0.8476
AUC : 0.7097